
.corPirmaira {
  background-color: #18bc9c;
}
.corSecundaria {
  background-color: #000000;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: black !important;
}
.icones {
  padding-left: 5px;
  height: 30px;
  font-size: 40px;
  color: black;
}
.titulosBrancos {
  text-decoration: underline;
  text-underline-position: below;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}
.titulosPretos {
  text-decoration: underline;
  text-underline-position: below;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  text-align: center;
}

.titulosVerdes {
  text-decoration: underline;
  text-underline-position: below;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: #18bc9c;
}

.textoBranco {
  color: white !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.textoPreto {
  color: black !important;
  font-family: "Nunito", sans-serif;
  font-size: 30px;
}

.jumbotron {
  margin-bottom: 10px;
  text-align: center;
}
.textoFooter {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
}
.textoNav {
  font-size: 25px;
  text-align: center;
  padding-left: 10px;
}
.textoFooter1 {
  text-align: left;
  padding-left: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
}
.corFooter1 {
  background-color: #070707;
}

.txtNav {
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
}

.iconesFooter {
  padding-left: 3px;
  height: 30px;
  font-size: 30px;
  color: whitesmoke;
}

.imgHabilidade {
  height: 100%;
  width: 27%;
  max-width: auto;
}

.tituloProjeto {
  font-size: 45px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 16px;
}

.textoDescricao{
  font-size: 22px;
  text-align: left;
}







/*---------------------------------------------------------------*/

.foto_perfil {
  height: 100%;
  width: 27%;
  max-width: auto;
  border-radius: 50%;
  border-style: groove;
  border-color: black;
}

.txtProjeto {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.imagemProjeto {
  width: 70%;
  border-style: solid;
}

.link{
  color: #000000;
}

.miniaturaProjeto{
  height: 225px; 
  width: 100%; 
  display: block;
}

.hover:hover{
  color: black !important;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: white;
}
